<!DOCTYPE html>
<html lagn="en">
<head>
    <meta charset="UTF-8">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script>
        $(document).ready(function(){
            $("button").click(function(){
                alert("hey");
                var id = $('input[name=test1]').val();
                var password = $('input[name=test2]').val();
                // alert(id);
                // alert(password);

                $.ajax({
                    url: '/post_ex',
                    data: {id_new : id, password_new: password},
                    type: 'POST',
                    success: function(response){
                        alert(response['status']);
                    },
                    error : function(error){

                    }
                })
            })
        })
    </script>
    <title>Title</title>
</head>
<body>
    <div style="width:100px; height: 100px; border:2px solid black;">
    어바웃페이지입니다.</div>

    id: <input type="text" name="test1">
    password: <input type="text" name="test2">

    <button>submit</button>
</body>
</html>